@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");

.App {
	font-family: "Catamaran", sans-serif;
	text-align: center;
}

img {
	width: 100px;
	height: 100px;
	text-align: center;
	margin: 0 auto;
}

/* news container */

.news-container {
	display: flex;
	width: 50%;
	margin: 2em auto;
	padding: 2em;
	flex-direction: column;
	justify-content: center;
	border-radius: 0px;
	background: linear-gradient(145deg, #e6e6e6, #ffffff);
	box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}

.news-container .news-title {
	color: rgb(252, 81, 38);
}
